PORT=PON_AQUI_TU_PUERTO
# Conexión a Base de Datos (Sustituir usuario, password, cluster y bbdd)
DB_URI=mongodb+srv://<tu_usuario>:<tu_password>@<tu_cluster>.mongodb.net/<nombre_base_datos>?retryWrites=true&w=majority
# Alternativa directa, tuve problemas para conectarme a mi base de datos con el de arriba me daba refused
# DB_URI=mongodb://<tu_usuario>:<tu_password>@<shard-00>,<shard-01>,<shard-02>/<nombre_base_datos>?ssl=true&replicaSet=<replica>&authSource=admin&retryWrites=true&w=majority

JWT_SECRET=tu_clave_secreta_super_segura_aqui